@media screen and (min-width: 961px) {
  body {
    width: 90%;
    height: 768px;
    margin: 75px auto 75px auto;
  }
  p {
    text-align: center;
    position: relative;
    top: 50%;
	margin-top: -12px;
	font-size: 24px;
  }
  header {
    box-sizing: border-box;
    border-left: 1px solid #333366;
    border-right: 1px solid #333366;
    border-top: 1px solid #333366;
    background-color: #FA8072;
    width: 100%;
    height: 100px;
  }
  aside {
    box-sizing: border-box;
    border: 1px solid #333366;
    border-right: none;
    background-color: #FA8072;
    width: 20.83%;
    height: 600px;
    float: left;
  }
  section {
    box-sizing: border-box;
    border: 1px solid #333366;
    background-color: #FA8072;
    width: 39.58%;
    height: 200px;
    float: left;
  }
  section:nth-child(odd) {
    border-right: none;
  }
  div section {
    width: 25%;
    height: 250px;
    border-top: none;
  }
  div section:nth-child(odd) {
    border-right: 1px solid #333366;
  }
  div section:nth-child(2),
  div section:nth-child(3),
  div section:nth-child(4) {
    border-left: none;
  }
  #box {
    box-sizing: border-box;
    width: 79.16%;
    height: 250px;
    float: left;
  }
  footer {
    box-sizing: border-box;
    border: 1px solid #333366;
    border-top: none;
    background-color: #FA8072;
    width: 79.16%;
    height: 150px;
    float: left;
  }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
  body {
    width: 90%;
    height: 768px;
    margin: 75px auto 75px auto;
  }
  p {
    text-align: center;
    position: relative;
	top: 50%;
	font-size: 24px;
    margin-top: -12px;
  }
  header {
    box-sizing: border-box;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-top: 1px solid darkgray;
    background-color: #d8d8d8;
    width: 100%;
    height: 100px;
  }
  aside {
    box-sizing: border-box;
    border: 1px solid darkgray;
    border-right: none;
    background-color: #d8d8d8;
    width: 20.83%;
    height: 600px;
    float: left;
  }
  section {
    box-sizing: border-box;
    border: 1px solid darkgray;
    background-color: #d8d8d8;
    width: 39.58%;
    height: 200px;
    float: left;
  }
  section:nth-child(odd) {
    border-right: none;
  }
  div section {
    width: 25%;
    height: 250px;
    border-top: none;
  }
  div section:nth-child(odd) {
    border-right: 1px solid darkgray;
  }
  div section:nth-child(2),
  div section:nth-child(3),
  div section:nth-child(4) {
    border-left: none;
  }
  #box {
    box-sizing: border-box;
    width: 79.16%;
    height: 250px;
    float: left;
  }
  footer {
    box-sizing: border-box;
    border: 1px solid darkgray;
    border-top: none;
    background-color: #d8d8d8;
    width: 79.16%;
    height: 150px;
    float: left;
  }
}
