p{
	text-align: center;
	font-size: 1rem;
}

#header {
	flex-direction: row;
    width: 480px;
    height: 75px;
    border-left: 1px solid #333366;
    border-right: 1px solid #333366;
    border-top: 1px solid #333366;
	border-bottom: 1px solid #333366;
    margin: auto;
    box-sizing: border-box;
}
#aside{
	flex-direction: column;
	width: 480px;
	height: 150px;
	border-left: 1px solid #333366;
    border-right: 1px solid #333366;
    border-top: 1px solid #333366;
	border-bottom: 1px solid #333366;
}
#section {
	flex-direction: row;
	width: 480px;
	height: 125px;
	border-left: 1px solid #333366;
    border-right: 1px solid #333366;
    border-top: 1px solid #333366;
	border-bottom: 1px solid #333366;
}
#section2 {
	flex-direction: row;
	width: 480px;
	height: 125px;
	border-left: 1px solid #333366;
    border-right: 1px solid #333366;
    border-top: 1px solid #333366;
	border-bottom: 1px solid #333366;
}
.box1{
	display: flex;
	border-left: 1px solid #333366;
    border-right: 1px solid #333366;
    border-top: 1px solid #333366;
	border-bottom: 1px solid #333366;
}
.box2{
	display: flex;
	border-left: 1px solid #333366;
    border-right: 1px solid #333366;
    border-top: 1px solid #333366;
	border-bottom: 1px solid #333366;
}
.box3{
	display: flex;
	border-left: 1px solid #333366;
    border-right: 1px solid #333366;
    border-top: 1px solid #333366;
	border-bottom: 1px solid #333366;
}
.section3{
	display: flex;
	border-left: 1px solid #333366;
    border-right: 1px solid #333366;
    border-top: 1px solid #333366;
	border-bottom: 1px solid #333366;
}
.footer{
	display: flex;
	border-left: 1px solid #333366;
    border-right: 1px solid #333366;
    border-top: 1px solid #333366;
}